<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8XZXCDMZJ7"></script>
  <script type="text/javascript" src="static/gtag.js"></script>
  <!-- Google Analytics -->

  <script defer data-project="67898f6f64eee502d55ff692"
    src="https://cdn.jsdelivr.net/gh/litlyx/litlyx-js/browser/litlyx.js">
    </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alimov</title>

  <script defer src="https://cloud.umami.is/script.js" data-website-id="ecdc875f-852f-444f-b514-b327220b6d50"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">

</head>

<body class="position-relative d-flex align-items-center min-vh-100">

  {% block card %}
  <div id="version" class="position-absolute top-0 end-0 z-1 text-info text-opacity-25 m-2 panel">version: {{ build }}
  </div>

  <button class="btn btn-light d-block d-md-none position-absolute top-0 start-50 translate-middle-x m-2 opacity-50"
    type="button" data-bs-toggle="collapse" data-bs-target=".panel" aria-expanded="false" aria-controls="panel"
    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
    show content
  </button>

  <button id="spinner" class="btn btn-light position-absolute top-50 start-50 translate-middle opacity-50" type="button"
    disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>
  </button>

  <div id="ascii" class="position-absolute top-50 start-50 translate-middle">
    {{ content|safe }}
  </div>

  <div id="panels" class="collapse position-relative container d-flex justify-content-around text-light-emphasis">
    <div class="collapse panel d-md-block z-1">
      <p>projects:</p>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://github.com/eblooo/esp-smart-lock">
          <i class="bi bi-cpu"></i>ESP Smart Lock
        </a>
        <div class="hidden-div">
          <!-- <a href="https://esp-smart-lock.alimov.top"><i class="bi bi-boombox"></i> Website</a> -->
          <a href="https://github.com/eblooo/esp-smart-lock"><i class="bi bi-cpu"></i> gitHub</a>
        </div>
      </div>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://radio.alimov.top">
          <i class="bi bi-boombox"></i> radio.alimov.top
        </a>
        <div class="hidden-div">
          <a href="https://radio.alimov.top"><i class="bi bi-boombox"></i> demo</a>
          <a href="https://github.com/KlimDos/polybank"><i class="bi bi-github"></i> gitHub</a>
        </div>
      </div>

      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://klimdos.github.io">
          <i class="bi bi-currency-bitcoin"></i> crypto calc
        </a>
        <div class="hidden-div">
          <a href="https://klimdos.github.io/"><i class="bi bi-currency-bitcoin"></i> demo</a>
          <a href="https://github.com/KlimDos/klimdos.github.io"><i class="bi bi-github"></i> gitHub</a>
        </div>
      </div>

      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="#">
          <i class="bi bi-aspect-ratio"></i> terraform report
        </a>
        <div class="hidden-div">
          <a href="#">no demo tbd</a>
          <a href="https://github.com/KlimDos/terra-discrepancy-monitor"><i class="bi bi-github"></i> gitHub
            [private]</a>
        </div>
      </div>

      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://t.me/non_authoritative_bot">
          <i class="bi bi-telegram"></i> telegram GPT bot
        </a>
        <div class="hidden-div">
          <a href="https://t.me/non_authoritative_bot"><i class="bi bi-telegram"></i> non_authoritative_bot</a>
          <a href="https://github.com/KlimDos/tg-gpt-bot"><i class="bi bi-github"></i> gitHub [public]</a>
        </div>
      </div>

      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://alimov.top">
          <i class="bi bi-house"></i> alimov.top
        </a>
        <div class="hidden-div">
          <a href="#"><i class="bi bi-house"></i> Home</a>
          <a href="https://github.com/KlimDos/alimov.top"><i class="bi bi-github"></i> git-hub [public]</a>
        </div>
      </div>

      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://github.com/KlimDos/home-k8s">
          <i class="bi bi-cpu"></i> home-k8s
        </a>
        <div class="hidden-div">
          <a href="https://github.com/KlimDos/home-k8s"><i class="bi bi-github"></i> git-hub [private]</a>
        </div>
      </div>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://argo.alimov.top">
          <i class="bi bi-bezier"></i> argo.alimov.top
        </a>
        <div class="hidden-div">
          <a href="https://argo.alimov.top"><i class="bi bi-door-open"></i> login</a>
          <a href="https://github.com/KlimDos/home-k8s"><i class="bi bi-github"></i> git-hub [private]</a>
        </div>
      </div>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://portainer.alimov.top">
          <i class="bi bi-bezier"></i> portainer.alimov.top
        </a>
        <div class="hidden-div">
          <a href="https://portainer.alimov.top"><i class="bi bi-door-open"></i> login</a>
          <a href="https://github.com/KlimDos/home-k8s"><i class="bi bi-github"></i> git-hub [private]</a>
        </div>
      </div>
    </div>

    <div class="collapse panel d-md-block z-1">
      <p>contact me:</p>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://blog.alimov.top">
          <i class="bi bi-journal-richtext"></i> My Blog
        </a>
      </div>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://github.com/KlimDos">
          <i class="bi bi-github"></i> GitHub
        </a>
      </div>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="#">
          <i class="bi bi-envelope"></i> klimdos@gmail.com
        </a>
      </div>
      <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="cv-login">
          <i class="bi bi-file-earmark-person"></i> cv
        </a>
      </div>
            <div class="link-container">
        <a class="icon-link icon-link-hover icon-link-move-left main-link" href="https://github.com/orgs/eblooo">
          <i class="bi bi-journal-richtext"></i> My Company
        </a>
      </div>
    </div>

  </div>
  {%- endblock %}
  <script type="text/javascript" src="static/js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>
