<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alimov</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code" rel="stylesheet">

</head>

<body class="position-relative d-flex align-items-center min-vh-100">

  {% block card %}
  <div id="version" class="position-absolute top-0 end-0 z-1 text-info text-opacity-25 m-2">version: v0.0.1-gre232s3
  </div>

  <button class="btn btn-light d-block d-md-none position-absolute top-0 start-50 translate-middle-x m-2 opacity-50" type="button" data-bs-toggle="collapse" data-bs-target=".panel"
    aria-expanded="false" aria-controls="panel" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
    show content
  </button>

  <button id="spinner" class="btn btn-light position-absolute top-50 start-50 translate-middle opacity-50" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>
  </button>

  <div id="ascii" class="position-absolute top-50 start-50 translate-middle">
    {{ content|safe }}
  </div>


  <div id="panels" class="collapse position-relative container d-flex justify-content-around text-light-emphasis">
    <div class="collapse panel d-md-block z-1">
      <p>projects:</p>
      <p>- radio.alimov.pro</p>
      <p>- crypto calc</p>
      <p>- terraform report</p>
      <p>- telegram GPT bot</p>
      <p>- alimov.online</p>
      <p>- home-k8s</p>
      <p>- argo.alimov.pro</p>
      <p>- portainer.alimov.pro</p>
    </div>

    <div class="collapse panel d-md-block z-1">
      <p>contact me:</p>
      <p>- gitHub</p>
      <p>- email</p>
      <p>- cv</p>
    </div>

  </div>
  {%- endblock %}
  <script type="text/javascript" src="static/js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>
