/* DEBUG
 * {
  border: 1px solid red;
} */

body {
  color: white;
  background-color: black;
}

#panels {
  font-family: 'Fira Code', cursive;
}

#ascii {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  font-size: 3px;
}

