/* DEBUG */
 /* * {
  border: 1px solid red;
} */

body {
  color: white;
  background-color: black;
}

#panels {
  font-family: 'Fira Code', cursive;
}

#ascii {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  font-size: 4px;
}

/* Custom CSS to reduce font size in the panels div on mobile */
@media (max-width: 767.98px) {
  .panel {
    font-size: 0.75rem; /* Adjust this value as needed */
  }
}
